.home{
    background-color: #15bcc2;
}
.services{
    background-color: mediumseagreen;
}
.work{
    background-color: #FD6768;
}

.opencanvas:hover{
    color: white;
}

.homerow{
    padding-top: 3em;
}

.imgpadd{
    padding-bottom: 2em;
    padding-top: 1.5em;
}

.services-title{
    padding-top: 1em;
}
.work-title{
    padding-top: 2em;
    padding-bottom: 2em;
}
.font {
    font-family: "Courier New";
}

.font2 {
    font-family: "courier new";
    color: #2c3840;
}

.font3 {
    font-family: "courier new";
    color: #13181B;
}

/*Tabs and accordion*/
.tabs {
    display: table;
    margin: 0 auto;
    border: none;
    background: mediumseagreen;
}

.tabs-titles{
    display: table;
    margin: 0 auto;
}

.tabovi {
    padding-left: 2em;
    padding-right: 2em;
}
.tabs-title {
    float: left; }
.tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Courier New";
    line-height: 1;
    color:#2c3840; }
.tabs-title > a:hover {
    background: #83F3B4;
    color: #2c3840; }
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #018F56;
    color: white; }

.tabs-content {
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    border: none;
    border-top: 0;
    background: #018F56;
    font-family: "Courier New";
    font-size: 1.1rem;
    color: white;
    transition: all 0.5s ease; }

.accordion {
    margin-left: 0;
    background: mediumseagreen;
    list-style-type: none; }

.accordion-item:first-child > :first-child {
    border-radius: 0 0 0 0; }

.accordion-item:last-child > :last-child {
    border-radius: 0 0 0 0; }

.accordion-title {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    border: none;
    border-bottom: 0;
    font-size: 1.2rem;
    font-family: "Courier New";
    font-weight: bold;
    line-height: 1;
    color: #2c3840; }
:last-child:not(.is-active) > .accordion-title {
    border-bottom: none;
    border-radius: 0 0 0 0; }
.accordion-title:focus {
    background-color: mediumseagreen;
    color: white;
    }
.accordion-title:hover {
    background: #83F3B4;
    color: #2c3840;
}

.accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: '+'; }
.is-active > .accordion-title::before {
    content: '\2013'; }

.accordion-content {
    display: none;
    padding: 1rem;
    border: none;
    font-family: "Courier New";
    font-size: 1.1rem;
    border-bottom: 0;
    background-color: #018F56;
    color: white; }
:last-child > .accordion-content:last-child {
    border-bottom: none; }

.txtbox {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 1.5rem;
    font-family: "Courier New";
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #13181b;
    color: white; }

.con-pad {
    padding-left: 3px;
    padding-right: 3px;
}

/*Footer*/
.fullWidth {
    color: white;
    font-size: 1.1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    background: #13181b;
}
footer{
    padding-top: 2em;
}

/*Top bar Menu*/
.topbar-responsive {
    background: #2c3840;
    padding: 1rem 1.5rem;
}
.topbar-responsive .topbar-responsive-logo {
    padding-left: 3em;
    color: #fefefe;
    font-family: Courier;
    font-size: 25px;
    vertical-align: top;
}
.topbar-responsive .menu {
    background: #2c3840;
    padding-top: 1px;
}
.topbar-responsive .menu li:last-of-type {
    margin-right: 0;
}
.topbar-responsive .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
}
.topbar-responsive .menu a:hover {
    background: whitesmoke;
    color: #2c3840;
}

@media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
        padding: 0.875rem 0;
    }
}

.topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #fefefe;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.menu-item{
    color: #fefefe;
    border: 1px solid;
    border-color: #fefefe;
    border-radius: 5000px;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
        width: 100%;
        margin: 0.875rem 0;
    }
}

@media screen and (max-width: 39.9375em) {
    .topbar-responsive {
        padding: 0.75rem;
    }
    .topbar-responsive .top-bar-title {
        position: relative;
        width: 100%;
    }
    .topbar-responsive .top-bar-title span {
        position: absolute;
        right: 0;
        border: 1px solid #fefefe;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
        margin-bottom: 4px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        width: 100%;
        -webkit-animation: fadeIn 1s ease-in;
        animation: fadeIn 1s ease-in;
    }
}

/*Contact panel*/
@charset "UTF-8";

.contact-panel-button {
    background: #2c3840;
    color: #fefefe;
    width: auto;
    padding: 0.25rem 1.25rem;
    text-align: center;
    position: absolute;
    top: -30px;
    right: 20px;
    transition: background 0.25s ease-in-out;
}

.contact-panel-button:after {
    content: "⥣";
    margin-left: 5px;
}

.contact-panel-button:hover {
    background: #4e6573;
    color: #f0f0f0;
}

.is-active .contact-panel-button:after {
    content: "⥥";
}

.contact-panel {
    padding: 0.7em;
    z-index: 1;
    background: #2c3840;
    width: 350px;
    height: 375px;
    position: fixed;
    bottom: -375px;
    right: 20px;
    transition: bottom 0.5s ease-in-out;
}

.contact-panel label {
    color: #fefefe;
    width: 100%;
}

.contact-panel input[type="text"],
.contact-panel input[type="email"],
.contact-panel textarea {
    background: #4e6573;
    border: #0a0a0a;
    transition: background 0.3s ease-in-out;
}

.contact-panel input[type="text"]:focus,
.contact-panel input[type="email"]:focus,
.contact-panel textarea:focus {
    background: #fefefe;
}

.contact-panel .contact-panel-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-panel .submit-button {
    margin-bottom: 0;
}

.contact-panel .cancel-button {
    margin-bottom: 0;
    padding: 0.75rem 1rem;
    color: #fefefe;
    transition: background 0.25s ease-in-out;
}

.contact-panel .cancel-button:hover {
    background: #242424;
    color: #f0f0f0;
}

.contact-panel.is-active {
    bottom: 0;
}

@media screen and (max-width: 39.9375em) {
    .contact-panel {
        width: 100%;
        right: 0;
    }
}

/*Testimonial block*/

.testimonial-block-vertical-quote {
    background: rgba(23, 121, 186, 0.25);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0;
    margin-bottom: 1.875rem;
    position: relative;
}

.testimonial-block-vertical-quote p {
    margin-bottom: 0;
}

.testimonial-block-vertical-quote::after {
    content: '';
    bottom: -1.25rem;
    left: 2.25rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1.25rem 1.125rem 0 1.125rem;
    border-color: rgba(23, 121, 186, 0.25) transparent transparent transparent;
    position: absolute;
}

.testimonial-block-vertical-person {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.65rem;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonial-block-vertical-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.testimonial-block-vertical-name {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Courier New";
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-left: 0.65rem;
}

.testimonial-block-vertical-info {
    text-transform: uppercase;
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 0;
    margin-left: 0.65rem;
}

/*Blockquote*/
blockquote{
    display:block;
    background: lightcyan;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: "Courier New";
    font-size: 1.1rem;
    font-weight: bold;


    line-height: 1.2;
    color: #2c3840;
    text-align: center;

    /*Borders - (Optional)*/
    border-left: 15px solid #2c3840;
    border-right: 5px solid #2c3840;

    /*Box Shadow - (Optional)
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc; */
}

blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #2c3840;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:1px;
}

blockquote::after{
    /*Reset to make sure*/
    content: "";
}


/*off canvas*/

.offcanvas-full-screen {
    position: fixed;
    z-index: 1;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #0a0a0a;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow-y: auto;
}

[data-whatinput='mouse'] .offcanvas-full-screen {
    outline: 0;
}

.offcanvas-full-screen.is-transition-overlap {
    z-index: 10;
}

.offcanvas-full-screen.is-transition-overlap.is-open {
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
}

.offcanvas-full-screen.is-open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.offcanvas-full-screen.is-open ~ .off-canvas-content {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.offcanvas-full-screen.is-transition-push::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
    content: " ";
}

.offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.offcanvas-full-screen-inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: justify;
    color: white;
    font-size: 1.3rem;

}

.offcanvas-full-screen-close {
    color: #fefefe;
    font-size: 5rem;
}

.offcanvas-full-screen-close:hover {
    color: #b2b2b2;
}
/*Footer last row*/
.lastrow{
    background-color: #0d1012;
}
.rights{
    padding-top: 10px;
}

/*Work - images when hovered*/

.img__wrap {
    position: relative;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    background: rgba(44, 56, 64, 0.75);
    color: #fff;
    font-family: "Courier New";
    padding-top: 8%;
    font-weight: 500;
    text-align: center;
    visibility: hidden;
    opacity: 0;

    /* transition effect*/
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}